@charset "UTF-8";
/*!
 * @theme ddps
 * @auto-scaling true
 * @size 16:9 1280px 720px
 */
@import "default";
@import "https://fonts.bunny.net/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap";
:root {
  --color-main: #173560;
  --color-dimmed: #6a7a7d;
  --color-highlight: #185c98;
  --color-background: #fff;
  --color-background-stripe: rgba(69, 90, 100, 0.1);
  --font-default: Lato, "Avenir Next", Avenir, "Trebuchet MS", "Segoe UI",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}
h1::part(auto-scaling),
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 580px;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p,
blockquote {
  margin: 1em 0 0;
}

ul > li,
ol > li {
  margin: 0.3em 0 0;
}
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-main);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1280px;
  height: 720px;
  background-color: var(--color-background);
  background-image: url(https://github.com/ddps-lab/ddps-lab-marp-theme/raw/main/assets/ddps.png);
  background-position-x: 20px;
  background-position-y: 660px;
  background-repeat: no-repeat;
  background-size: 20%;
  font-size: 35px;
  font-family: var(--font-default);
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 60px 70px 150px 70px;
  word-wrap: break-word;
  color: black;
}

footer {
  width: 100%;
  text-align: center;
}

.two-columns {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  padding-bottom: 10px;
  gap: 5%;
}

section.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.invert pre,
section.invert pre code {
  color: #c9d1d9;
}

section.invert table {
  color: black;
}

section img {
  background-color: transparent;
}

section table th,
section table td {
  background-color: #6f85a6;
  border: 1px solid white;
}
section table tbody > tr:nth-child(odd) td,
section table tbody > tr:nth-child(odd) th {
  background-color: #8fa8cf;
}
